{
    "BasedOnStyle": "Google",
    "AccessModifierOffset": -4,
    "ConstructorInitializerIndentWidth": 2,
    "AlignAfterOpenBracket": "AlwaysBreak",
    "AlignEscapedNewlinesLeft": false,
    "AlignTrailingComments": true,
    "AllowAllParametersOfDeclarationOnNextLine": false,
    "AllowShortIfStatementsOnASingleLine": false,
    "AllowShortLoopsOnASingleLine": false,
    "AllowShortFunctionsOnASingleLine": "None",
    "AllowShortLoopsOnASingleLine": false,
    "AlwaysBreakTemplateDeclarations": true,
    "AlwaysBreakBeforeMultilineStrings": false,
    "BreakBeforeBinaryOperators": "NonAssignment",
    "BreakBeforeTernaryOperators": false,
    "BreakConstructorInitializersBeforeComma": true,
    "BreakStringLiterals": false,
    "BinPackParameters": false,
    "BinPackArguments": false,
    "ColumnLimit":    120,
    "ConstructorInitializerAllOnOneLineOrOnePerLine": true,
    "DerivePointerBinding": true,
    "ExperimentalAutoDetectBinPacking": false,
    "IndentCaseLabels": true,
    "MaxEmptyLinesToKeep": 3,
    "NamespaceIndentation": "All",
    "ObjCSpaceBeforeProtocolList": true,
    "PenaltyBreakBeforeFirstCallParameter": 19,
    "PenaltyBreakComment": 60,
    "PenaltyBreakString": 1,
    "PenaltyBreakFirstLessLess": 1000,
    "PenaltyExcessCharacter": 500,
    "PenaltyReturnTypeOnItsOwnLine": 1000,
    "PointerBindsToType": false,
    "SpacesBeforeTrailingComments": 2,
    "Cpp11BracedListStyle": false,
    "Standard":        "Auto",
    "IndentWidth":     4,
    "TabWidth":        4,
    "UseTab":          "Never",
    "BreakBeforeBraces": "Allman",
    "IndentFunctionDeclarationAfterType": false,
    "SpacesInParentheses": false,
    "SpacesInAngles":  false,
    "SpaceInEmptyParentheses": false,
    "SpacesInCStyleCastParentheses": false,
    "SpaceAfterControlStatementKeyword": true,
    "SpaceBeforeAssignmentOperators": true,
    "ContinuationIndentWidth": 8,
    "SortIncludes": false,
    "IndentPPDirectives": "AfterHash",
    "DerivePointerAlignment": false,
    "PointerAlignment": "Right",
    "FixNamespaceComments": true,
    "IndentWrappedFunctionNames": true,
    "Standard": "Cpp03",
}
